body {
  background: #f7f7f7;
}

table.dataTable {
  width: 100% !important;
}

.navbar-brand {
  font-weight: bold;
}

.btn-primary, .btn-success, .btn-danger {
  border-radius: 3px;
}

#active {
 width:20px;
 height:20px;  
}